<nav>
    <ul>
        <!-- Whenver we click this hyperlink, url is appended with respective 'request' mentioned in a href ="" -->
        <!-- Also notice that, we are writing code in app.js for the same 'requests' -->
        <li><a href ="/">Home</a></li>
        <li><a href ="/contact">Contact</a></li>
    </ul>
</nav>
